.research{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 80px 170px;
}

.research-title{
    position: relative;
}

.research-title h1 {
    padding: 0px 30px;
    font-size: 40px;
    font-weight: 600;
    margin-top: -10px;
}

.research-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
}
.research-format img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s;
}
.research-format img:hover{
    transform: scaleY(1.3);
}

.research-container{
    display: grid;
    grid-template-columns: 3fr;
    gap: 40px;
    margin-bottom: 80px;
    margin-top: -30px;
}

.research-format h3{
    font-size: 28px;
    font-weight: 600;
   padding-left: 65px;
   padding-bottom: 20px;
}

.research-format p {
    color: #d4d4d4;
    font-size: 24px;
    line-height: 40px;
    max-width: 400px;
}

.research-format h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(267deg, #09203F  0.36%,  #537895 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.research-container:hover{
    background-color: rgb(34, 37, 34);
}